# Dev environment
pip
autopep8

# Security Headers
python-jose

# App
fastapi
uvicorn
starlette
streamlit

# Model
transformes
faiss-cpu
torch


# Database
pymongo

# Visualization Tools
pandas
matplotlib
